DB_URL=jdbc:mariadb://localhost:3306/rimu_games?useUnicode=true&characterEncoding=utf8
DB_USERNAME=root
DB_PASSWORD=password
JWT_SECRET=MDEyMzQ1Njc4OWFiY2RlZjAxMjM0NTY3ODlhYmNkZWY=
JWT_EXPIRATION=86400000
JWT_REFRESH_EXPIRATION=604800000
